@import url('https://fonts.googleapis.com/css?family=Open+Sans|ZCOOL+QingKe+HuangYou');
h1 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 3em;
}



body {
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;

}


p {
  line-height: 1.5;
  font-size: 1.2em;
}

.info {
  margin-top: 40px;
}
.page-title {
  margin-top: 60px;

}
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 95%;  /* The width is the width of the web page */
        margin: 20px auto;
        overflow:visible;
       }
.question {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 2.4em;
  margin: 20px;
}

.question-btn {
  display: block;
  margin: 40px auto;
  padding: 10px 20px;
  border-radius: 7px;
  background-color: yellow;
  color: black;
}
ul {
  list-style: none;
  font-size: 1.5em;
  padding-left: 0px;
}

li {
  line-height: 2;
}
.spaceperson {
  display: none;
}


.sm-hr{
  height: 5px;
  width: 100px;
  background-color: silver;
  border-bottom: 1px solid gray;
  margin-bottom: 80px;
  margin-top: 60px;
}

.rocket-img {
  margin: 40px;
}

.container-fluid {
  padding: 0px;
}
.iss-img {
  background-image: url('../images/space-station.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 75vh;
}

.num-answer {
  display: none;
  font-size: 5em;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}
.web-link{
  text-decoration: none;
  color: white;
}
.web-link:hover, .weblink:active{
  text-decoration: none;
  color: teal;
}
.footer-name{
  margin: 40px;
  font-size: 1em;
  color: gray;
}
